body {
  background: lightblue;
}

.campuses {
  border: solid grey 2px;
}

.caption {
  text-align: center;
}

#home {
  margin-left: 400px;
}
/*
#students {
  margin-left: 10px;
} */

#create-campus {
  margin-left: 20px;
  font-size: 16px;
}

#student-delete {
  font-size: 10px;
}

.btn-block {
  display: block;
  width: 15%;
}

